@import url("https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,600&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Anybody", cursive;
	overflow-x: hidden;
}

.container {
	width: min(90%, 1120px);
	margin-inline: auto;
}

a {
	text-decoration: none;
	color: #000;
}

/* 

3 ways ayaa inoo furan in aan ku select gareyno element

by id #idname
by tagname a, header, footer, div, input, select
by classname .classname

*/

header {
	height: 70px;
	background-color: #f8fafa;
	padding: 10px;
}

.mobile-menu {
	display: none;
}

.desktop-menu {
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menus-link {
	display: flex;
	gap: 25px;
}

.menus-link li {
	list-style: none;
}

.menus-link li a {
	color: #000;
}

.menus-link li a:hover {
	color: blue;
}

.desktop-menu h1 {
	cursor: pointer;
}

.hamburger {
	display: none;
}

.hero {
	height: calc(100vh - 70px);
	background: linear-gradient(rgba(8, 8, 8, 0.4), rgba(12, 12, 12, 0.4)),
		url("https://images.unsplash.com/photo-1683130461782-2a3f1910da18?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1769&q=80");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

	/* center elements */
	width: 100vw;
	display: flex;
}

.hero .container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
}

.hero .container h1 {
	display: block;
	font-size: 80px;
	color: #fff;
	line-height: 80px;
	text-align: center;
}

.btn {
	padding: 15px 60px;
	font-size: 29px;
	line-height: 31px;
	background-color: #5f6ad4;
	color: #fff;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

.yoga {
	background: linear-gradient(rgba(245, 246, 252, 0.2), rgba(117, 19, 93, 0.75)),
		url("https://plus.unsplash.com/premium_photo-1672039297160-2b0b5143a510?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 100vh;
	border-radius: 20px;
	margin-top: 100px;
	display: flex;
	background-attachment: fixed;

	align-items: flex-end;
}

.yoga .content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 50px;
	gap: 30px;
}

.yoga .content h1 {
	font-size: 50px;
	color: #fff;
	text-align: center;
}

.yoga .content p {
	font-size: 25px;
	color: #fff;
	text-align: center;
}

.info-boxes {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
}

.info-boxes .box {
	display: flex;
	flex-direction: column;
	gap: 25px;
	padding-block: 20px;
}

.info-boxes .box img {
	width: 100%;
	border-radius: 15px;
}

.info-boxes .box p {
	font-size: 20px;
}

/* tablet devices */
/* <=768px */
@media screen and (max-width: 768px) {
	header {
		height: 0;
		padding: 0;
	}

	.desktop-menu {
		display: none;
	}

	.hamburger {
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 9999;
		position: absolute;
		top: 5%;
		right: 5%;
		color: #fff;
		font-size: 30px;
		background-color: #5f6ad4;
		border-radius: 50%;
		width: 80px;
		height: 80px;
	}

	.hamburger i[data-visible="true"] {
		display: block;
		/* transition: transform 5s ease; */
	}
	.hamburger i[data-visible="false"] {
		display: none;
	}

	.mobile-menu {
		display: flex;
		position: fixed;
		background-color: #353538;
		inset: 0 0 0 0;
		flex-direction: column;
		transform: translateX(0%);
		transition: transform 360ms ease-in-out;
	}
	.mobile-menu[data-visible="false"] {
		transform: translateX(100%);
	}

	.mobile-menu .navigation {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 50px;
		margin-top: 200px;
	}

	.mobile-menu .navigation h1 {
		color: #fff;
		border-bottom: 1px solid #898686;
		font-size: 30px;
		padding: 15px;
	}

	.mobile-menu .navigation .menus-link {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	.mobile-menu .navigation .menus-link li a {
		color: #fff;
		font-size: 22px;
	}

	.hero {
		height: 100vh;
	}

	.hero .container h1 {
		font-size: 46px;

		font-weight: 400;
	}

	.yoga h1 {
		font-size: 37px;
	}

	.info-boxes .box p {
		font-size: 21px;
		line-height: 22px;
		color: #212120;
	}
}

@media screen and (max-width: 600px) {
	.info-boxes {
		grid-template-columns: 1fr;
	}
}
